.link {
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
  font-style: oblique;
}
.Container {
  position: relative;
  left: 0px;
  margin-right: 0px;

  top: 0px;
  width: 101.58%;
  height: 20%;
  background-color: rgb(6, 128, 250);
}
.titleHospital{
 font-size:1.75rem;
 text-align: center;
 margin-top: 5%;
}
.Links {
  display: flex;
  column-gap: 10px;
}
img {
  display: flex;
  width: 110px;
  height: 130px;
  border-radius: 120px;
  margin-top: 5px;
  margin-left: 5px;
}
.HoHeaders {
  display: flex;
  column-gap: 3px;
}
